@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  margin: auto;
  background: #191414;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
}

a {
  background: #1DB954;
  padding: 1em;
  color: white;
  text-decoration: none;  
  border-radius: 2em;
  font-size: 20px;
  display: inline-block;
  width: 12vw;
  margin: 0 1vw 0;
}

.media > img {
  width: 20vh;
  border-radius: 10vh;    
}
