@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  background: #191414;
  color: white;
  font-family: 'Nunito', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;  
}

a {
  background: #1DB954;
  padding: 1em;
  color: white;
  text-decoration: none;  
  border-radius: 2em;
  font-size: 20px;
}

#container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.media > img {
  border: 0.2em solid white;
  width: 20vh;
  border-radius: 10vh;    
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);        
}

.party {
  background-color: #191414;
}
